@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&display=swap');

:root {
 
}


body {
margin: 0;
padding: 0;
max-width: 100%;
overflow-x: hidden;
font-family: "Ga Maamli", sans-serif;
font-weight: 400;

}

/* For WebKit browsers */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
    height: 12px; /* Height of the scrollbar (for horizontal scrollbars) */
  }
  
  ::-webkit-scrollbar-track {
    background-color:black; /* Background of the scrollbar track */
    border-radius: 10px; /* Optional: to make the track rounded */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: black ; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Optional: to make the thumb rounded */
    border: 3px solid #f1f1f1; /* Optional: adds space around thumb */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: black; /* Color of the scrollbar thumb when hovered */
  }
  
  /* For Firefox */
  * {
    scrollbar-width: thin; /* Width of the scrollbar */
    scrollbar-color: black #f1f1f1; /* Color of the thumb and track */
  }




  /* burger icon */
/* .label-check {
  display: none;
}

.hamburger-label {
  width: 40px;
  height: 58px;
  display: block;
  cursor: pointer;
}

.hamburger-label div {
  width: 100%;
  height: 5px;
  background-color: #fff;
  position: absolute;
}

.line1 {
  transition: all .3s;
}

.line2 {
  margin: 13px 0 0 0;
  transition: 0.3s;
}

.line3 {
  margin: 26px 0 0 0;
  transition: 0.3s;
}

#label-check:checked + .hamburger-label .line1 {
  transform: rotate(-27deg) scaleX(.52) translate(-28px, -0.7px);
  border-radius: 65px 65px 65px 0;
}

#label-check:checked + .hamburger-label .line3 {
  transform: rotate(27deg) scaleX(.52) translate(-28px, 0.7px);
  border-radius: 0 65px 65px 65px;
}

#label-check:checked + .hamburger-label .line2 {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 45px;
} */


.hamburger {
  cursor: pointer;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 1.7em;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
              stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}


/* burger icon */



@layer base {
 
    .page {
      @apply w-full h-screen ;
    }
    .h1 {
      @apply text-[35px] leading-tight md:text-[60px] md:leading-[1.3] mb-8 font-semibold;
    }
    .h2 {
      @apply text-[35px] leading-tight md:text-[54px] md:leading-[1.3] mb-4 font-semibold;
    }
    p {
      @apply leading-[1.8] text-white/80 font-light;
    }
    .btn,
    .input {
      @apply h-[52px];
    }
    .input {
      @apply w-full h-[52px] rounded-lg pl-6 capitalize;
    }
    .input,
    .textarea {
      @apply bg-transparent outline-none border-white/20 placeholder:text-white/30 placeholder:font-light;
    }
    .textarea {
      @apply w-full h-[180px] p-6 capitalize rounded-lg resize-none;
    }
  }